<h1>Editing station</h1>

<% form_for(@station) do |f| %>


  <p>
    <%= f.label :title %><br />
  </p>
  <p>
    <%= f.label :url %><br />
    <%=  %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @station %> |
<%= link_to 'Back', stations_path %>