<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stations: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'jquery.fancybox-1.2.6' %>
  <%= #javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' 
%>
  <%= javascript_include_tag 'jquery.min.js' %>

  <%= javascript_include_tag 'swfobject' %>
  <%= javascript_include_tag 'jquery.fancybox-1.2.6.pack' %>
  <%= javascript_include_tag 'tuneful' %>
  <%= javascript_include_tag 'user' %>
  <%= javascript_include_tag 'radio' %>
</head>
<body>
<div id="banner">
	<div class="right">
		(3 invites left) Logout
	</div>
	<div id="logo">Tuneful</div>
	 <%= render :partial => "radio" %>

</div>

	<div id="notif"><a href="#"><img src="images/cancel.png" alt="Cancel"></a><a href="#">You have three invites left</a></div>
	<div id="tuneful">

		<div id="search">
			Welcome to Tuneful.org!<br />
			Search for your favorite music below
			<input type="text" name="search-field" id="search-field" />
			<input type="submit" value="Search now" />
		</div>	
		<hr />
		<div id="stations">
			<%= render :partial => "station_card", :collection => @stations %>
		</div>
		<div class="c"></div>

	</div><!-- tuneful -->
	
	
<div id="footer">
	<div class="right">Contact | About</div>
	Be amazed by my wit
</div>	
	
	
</body>
</html>
